@import "./reset.css";
@import "./fonts/Lato/stylesheet.css";

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.container {
    max-width: 1369px;
    padding: 0 15px;
    margin: auto;
}

.title {
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    color: #01996d;
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
    color: #484848;
    line-height: 150%;
}

.button {
    padding: 13px 50px;
    background-color: #01996d;
    border: 1px solid #01996d;
    border-radius: 4px;
    color: #fff !important;
    font-size: 20px;
    transition: .3s;
}

.button:hover {
    background-color: #41be99;
    border: 1px solid #41be99;
}

.header {
    background-color: #F2F4F2;
    background-image: url("./../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 169px;
}

.header__top {
    background-color: #fff;
}

.nav {
    display: flex;
    height: 85px;
    align-items: center;
    margin-bottom: 175px;
}

.nav-logo {
    margin-right: 173px;
}

.nav-logo img {
    width: 80px;
    height: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-list__left,
.nav-list__right {
    display: flex;
    align-items: center;
}

.nav-list__left li {
    margin-right: 36px;
}

.nav-list__left li a {
    padding: 32px 18px 33px 18px;
    transition: .3s;
}

.nav-list__left li a:hover {
    background-color: #F6EDED;
    color: rgb(116, 116, 116);
}

.nav-list li a {
    color: #292929;
    font-size: 20px;
}

.nav-sign_in {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: .3s;
}

.nav-sign_in:hover {
    border: 1px solid #000;
}

.nav-btn {
    margin-left: 35px;
}


.header__content {
    max-width: 440px;
    max-height: 895px;
    margin-bottom: 336px;
}

.header-title {
    font-size: 65px;
}

.header-text {
    margin-bottom: 55px;
}

.header-btn a{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards {
    margin-top: 169px;
    margin-bottom: 51px;
}

.cards__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
}

.cards__top-title {
    max-width: 584px;
    width: 100%;
    margin-right: 136px;
    font-size: 24px;
    font-weight: 600;
    color: #424242;
}

.cards__content {
    display: flex;
    justify-content: space-between;
}

.card:nth-child(2) {
    margin-top: 300px;
}

.card {
    max-width: 390px;
    max-height: 937px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    position: relative;
}

.card-number {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 150px;
    color: rgba(1, 153, 110, 0.2);
    line-height: 150%;
}

.card-title-text {
    position: absolute;
    left: 88px;
    bottom: 50px;
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 30px;
    max-width: 314px;
    width: 100%;
}

.card-text {
    margin: 10px 0 60px;
}

.video-container {
    max-width: 1510px;
    margin: auto;
}

.video-info {
    padding-top: 229px;
    padding-bottom: 177px; 
    max-height: 992px;
    height: 100%;
    background-color: #245852;
}

.video-info__wrapper {
    display: flex;
    justify-content: space-between;
}

.video-info__left {
    margin-right: 31px;
}

.video-title {
    color:  #fff;
    margin-bottom: 33px;
}

.video-info-text {
    color: #fff;
    margin-bottom: 57px;
}

.video-object {
    position: relative;
}

.video-btn {
    max-width: 80px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.video-preview {
    min-width: 895px;
    width: 100%;
}

#video-file {
    position: absolute;
    top: 5px;
    left: 0;
    max-width: 895px;
    border-radius: 15px;
}